.container-sitemap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.container-sitemap .col {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 3rem;
  vertical-align: top;
}

.container-sitemap .col a {
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .container-sitemap .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
